*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins';
    background-color: #eddcd9;
}

#navbar{
    color: #de5499;
    background-color: #f2ebe9;
    height:80px;
    width:100%;
    justify-content: space-between;
    display: flex;
}

.navlinks{
    list-style: none;
    display: flex;
    justify-content: center;
}

.name_container{
    margin-top: 30px;
    margin-left: 40px;
    font-weight:100;
}


.navlinks li{
    margin: 30px;
}

#home{
    display:flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-left:100px;
    padding-right:100px;
    
}

.home_left{
    background-color:#d104c0;
    width:0%;

}

.home_right{
    width:40%;
    background-color:#d104c0;
    text-align: center;
}

.web_designer{
    font-size:100px;
    font-weight:bolder;
    color:#264143;
    line-height: 116px;
}

.home_hello{
    font-size:28px;
    color:#de5499;
}

.resume a{
    text-decoration: none;
    color:#264143;
    background-color: #e99f4c;
    padding: 15px;
    margin:10px;    
}

.resume{
    margin-top: 50px;
    margin-bottom: 50px;
}


.profile{
    border-radius: 364px 256px 364px 265px;
}

.about_para{
    width:70%;
    color:#333131;
    margin-bottom: 20px;
    font-size: 18px;
    padding-left: 100px;
    padding-right:100px;
}


.brown_head{
    color: #264143;
    font-weight:bolder;
    font-size: 50px;
    line-height: 116px;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-left: 100px;
    padding-right:100px;
}

.about_exp{
    padding-left: 200px;
    margin-top: 80px;
    color:#333131;
    font-size: 18px;
}

.about_exp li{
    margin-top: 30px;
    
}
#skills{
    font-size: 18px;
}
.skill_container{
    display:flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right:100px;
}
.skill_item{
    margin-top: 50px;
    border: #474347 solid 4px;
    width: 210px;
    height:210px;
    padding: 30px;
    text-align: center;
    
}

.con1{
    display:flex;
    justify-content:space-evenly;
    margin-bottom: 40px;
}

.c_para{
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;
    color: #333131;
}

.cimg{
    border-radius:500px 500px 500px 500px ;
    margin-bottom: 40px;
    margin-top: 20px;
}
